@import url("navigation.css");
@import url("header-add.css");

.rd-explorer-container {
  display: grid;
  padding: 20px 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.explorer-image {
  background-image: url("/images/product-one-big.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  

  grid-column: 1;
  grid-row: 1/5;
}

.discount {
  color: orange;
  padding: 40px 40px;
  font-size: 20px;
}

.content-container {
  grid-column: 2/4;
  grid-row: 1/4;
}

.rd-explorer {
  background-color: lightgray;
}

.prices {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 20px;
}

.old-price,
.new-price {
  padding: 5px 40px;
}

.new-price {
  color: darkorange;
}

.old-price {
  color: darkgray;
  text-decoration: line-through 1px solid gray;
}

.bullet-points {
  padding: 40px;
}
.sizes {
  display: flex;
  justify-content: flex-start;
}

.small,
.medium,
.large {
  padding: 20px 40px;
  margin-bottom: 40px;
}

.add-to-cart {
  padding: 20px 50px;
  background-color: green;
  display: inline-block;
  margin-left: 20px;
}

.add-to-cart a {
  text-decoration: none;
  color: white;
}
