@import url("navigation.css");
@import url("header-add.css");
@import url("/css/cta.css");
@import url("/css/root.css");
@import url("/css/footer.css");
@import url("/css/media.css");

/*JACKET SPECIFIC PAGE*/

.rd-explorer-container {
  display: grid;
  padding: 20px 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.explorer-image {
  background-image: url("/images/product-one-big.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  grid-column: 1;
  grid-row: 1/5;
}

.content-container {
  grid-column: 2/4;
  grid-row: 1/4;
}

.rd-explorer {
  background-color: var(--header-and-bg-color);
  padding-left: 10px;
  padding-top: 5px;
}

.prices-explorer {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 20px;
}

.old-price,
.new-price {
  padding: 5px 40px;
}

.new-price {
  color: darkorange;
}

.old-price {
  color: darkgray;
  text-decoration: line-through 1px solid gray;
}

.views-and-storage {
  display: flex;
  flex-direction: column;
  background-color: var(--header-and-bg-color);
  padding-left: 10px;
}

.views,
.storage {
  padding: 5px;
}

.bullet-points {
  padding: 25px;
}
.sizes {
  display: flex;
  justify-content: flex-start;
}

.small,
.medium,
.large {
  margin: 20px;
  padding: 20px 40px;
  margin-bottom: 40px;
  border: var(--border-color) 2px solid;
}

.small:hover,
.medium:hover,
.large:hover {
  background-color: #e7ebeb;
}

.add-to-cart {
  grid-row: 4/5;
  grid-column: 2;
}

.cta {
  margin-left: 20px;
}

.fotter {
  margin-top: 20px;
}
