@import url("navigation.css");
@import url("header-add.css");
@import url("/css/cta.css");
@import url("/css/root.css");
@import url("/css/media.css");

/*JACKET SITE*/

.jackets {
  padding: 10px 80px;
}

.grid-container {
  padding: 20px 80px;
  justify-content: center;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

section {
  min-height: 300px;
}

.header-add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/kal-visuals-X8oLaedw-OI-unsplash.png");
  background-position: center;
  background-size: cover;
}

.sign-up-add {
  text-transform: uppercase;
}

.off {
  display: flex;
  justify-items: center;
  font-size: 30px;
  color: orange;
}

.header-add .sign-up-add {
  color: var(--white-add-color);
  background-color: var(--footer-and-text-color);
  padding: 30px 50px;
  font-size: 20px;
  display: inline-block;
}

.product-one,
.product-two,
.product-three,
.product-one-row2,
.product-two-row2,
.product-three-row2,
.product-one-row3,
.product-two-row3,
.product-three-row3,
.product-one-row4,
.product-two-row4,
.product-three-row4,
.product-one-row5,
.product-two-row5,
.product-three-row5 {
  display: grid;
  grid-template-rows: 1fr 1fr 30px 40px;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f3f3;
  border: var(--border-color) 2px solid;
  transition: 1s;
}

.product-one img,
.product-two img,
.product-three img,
.product-one-row2 img,
.product-two-row2 img,
.product-three-row2 img,
.product-one-row3 img,
.product-two-row3 img,
.product-three-row3 img,
.product-one-row4 img,
.product-two-row4 img,
.product-three-row4 img,
.product-one-row5 img,
.product-two-row5 img,
.product-three-row5 img,
.hover-effect {
  width: 100%;
  height: 300px;

  grid-column: 1/3;
  grid-row: 1/3;
}

.hover-effect:hover {
  transform: scale(102%);
}
.name {
  grid-row: 4;
  grid-column: 1;
  margin-left: 5px;
}

.type {
  grid-column: 1;
  grid-row: 4;
  margin-top: 15px;
  margin-left: 5px;
}

.price {
  grid-row: 4;
  grid-column: 2/-2;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #e69214;
}

.star-container {
  color: orange;
  margin-left: 5px;
  margin-top: 5px;
}

.star-container input {
  display: none;
  cursor: pointer;
}

.star-container input:checked + label ~ label {
  color: gray;
}

.fotter-container {
  display: flex;
  background-color: #375760;
  justify-content: space-around;
  padding: 30px;
  color: white;
}
