* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

header {
  width: 100%;
  background-color: #e7ebeb;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 5px 20px;
}

.search {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 2100px;
  width: 100%;
  margin: 0 auto;
}

.nav-container {
  display: inline;
}

.main_nav {
  background-color: #f8d061;
  position: absolute;
  z-index: 1;
  width: 100%;
}
#menu-checkbox {
  display: none;
}
.fas {
  padding: 20px 20px;
}
.main_nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px;
}

.main_nav ul li a {
  padding: 20px;
  text-decoration: none;
  color: #375760;
  text-transform: uppercase;
  font-weight: 500;
}

svg {
  width: 120px;
  height: 50px;
}
