




.search {
  text-align: center;
}

#main_nav ul {
  display: flex;

}

section {
 display: flex;
 justify-content: center;
}

.logo svg {
  width: 120;
  height: 50px;
  margin-top: 16px;  
}

.slogan img {
  width: 1640px;
  height: 621px;
}

.adds_advice {
  flex-direction: row;
  justify-content: center;
}

.advertisement img {
  width: 1088px;
  height: 271px;  
}

.hikes img {
  width: 547px;
  height: 271px;
  margin-left: 5px;
}

.about_us img {
  width: 1640px;
  height: 917px;
}

.contact img {
  width: 1640px;
  height: 1051px;
}

