* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  position: sticky;
}

.search {
  text-align: center;
  margin-bottom: 20px;
}

.main_nav ul {
  list-style: none;
  background-color: #f8d061;
  margin-bottom: 0px;
  padding-left: 450px;
}

.main_nav ul li {
  display: inline-block;
}

.main_nav ul li a {
  padding: 20px;
  text-decoration: none;
  color: #375760;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "roboto", sans-serif;
}

section {
  display: flex;
  justify-content: center;
}

.logo svg {
  width: 120;
  height: 50px;
  margin-top: 40px;
}

.slogan img {
  width: 1640px;
  height: 621px;
}

.adds_advice {
  flex-direction: row;
}

.advertisement img {
  width: 1088px;
  height: 271px;
}

.hikes img {
  width: 547px;
  height: 271px;
  margin-left: 5px;
}

.about_us img {
  width: 1640px;
  height: 917px;
}

.contact img {
  width: 1640px;
  height: 1051px;
}
